.e7705_10042 {
  width: 357px;
  height: 509px;
  margin-top: 125px;
  position: absolute;
}
.e7646_9844 {
  color: rgba(0, 0, 0, 1);
  width: 80px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: -1;
}
.e7646_9846 {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 49px;
  top: 3px;
  cursor: pointer;
}
.e7646_9847 {
  background-color: rgba(
    18.000000827014446,
    143.00000667572021,
    110.00000104308128,
    1
  );
  width: 9.208334922790527px;
  height: 9.208333969116211px;
  position: absolute;
  left: 1.083251953125px;
  top: 2.708984375px;
}
.e7646_9848 {
  background-color: rgba(
    18.000000827014446,
    143.00000667572021,
    110.00000104308128,
    1
  );
  width: 4.333333969116211px;
  height: 4.3333330154418945px;
  position: absolute;
  left: 7.583251953125px;
  top: 1.083984375px;
}
.e7646_9849 {
  background-color: rgba(
    18.000000827014446,
    143.00000667572021,
    110.00000104308128,
    1
  );
  width: 7.0416669845581055px;
  height: 7.041667461395264px;
  position: absolute;
  left: 4.875px;
  top: 1.083984375px;
}
.e7646_9850 {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  width: 357px;
  height: 202px;
  position: absolute;
  left: 0px;
  top: 41px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e7646_9851 {
  background-color: rgba(
    24.907108694314957,
    130.76597034931183,
    92.65676647424698,
    1
  );
  width: 142px;
  height: 28px;
  position: absolute;
  left: 110px;
  top: 452px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  cursor: pointer;
}
.e7646_9851 {
  border: 1px solid
    rgba(24.907108694314957, 130.76597034931183, 92.65676647424698, 1);
}
.e7646_9852 {
  color: rgba(255, 255, 255, 1);
  width: 77px;
  height: 15px;
  position: absolute;
  left: 32.5px;
  top: 6.5px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1;
}
.e7646_9853 {
  color: rgba(24.907108694314957, 130.76597034931183, 92.65676647424698, 1);
  width: 313px;
  height: 30px;
  position: absolute;
  left: 24px;
  top: 494px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1;
  cursor: pointer;
}
.e7646_9886 {
  color: rgba(0, 0, 0, 1);
  width: 349px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 273px;
  font-family: Inter;
  text-align: left;
  font-size: 14px;
  letter-spacing: -1;
  line-height: px;
}
.e7646_9887 {
  color: rgba(0, 0, 0, 1);
  width: 349px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 324px;
  text-align: left;
  font-size: 12px;
  letter-spacing: -1;
}
