.e5479_22276 {
  color: rgba(0, 0, 0, 1);
  width: 303.3509826660156px;
  height: 50.79365158081055px;
  position: absolute;
  left: 19.047607421875px;
  top: 16px;
  font-family: Karla;
  text-align: left;
  font-size: 20px;
  letter-spacing: -1;
}
.e5479_22277 {
  width: 361.9047546386719px;
  height: 67.72486877441406px;
  position: absolute;
  left: 19.047607421875px;
  top: 83px;
}
.e5479_22278 {
  background-color: rgba(255, 255, 255, 1);
  width: 361.9047546386719px;
  height: 67.72486877441406px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.e5479_22278 {
  border: 1px solid
    rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
}
.e5479_22282 {
  color: rgba(0, 0, 0, 1);
  width: 200px;
  height: 17px;
  position: absolute;
  left: 91.00537109375px;
  top: 107.6904296875px;
  font-family: Inter;
  text-align: left;
  font-size: 14px;
  letter-spacing: -1;
}
.e5479_22283 {
  background-color: rgba(
    24.907108694314957,
    130.76597034931183,
    92.65676647424698,
    1
  );
  width: 71px;
  height: 28px;
  position: absolute;
  left: 295px;
  top: 103px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.e5479_22283 {
  border: 1px solid
    rgba(24.907108694314957, 130.76597034931183, 92.65676647424698, 1);
}
.e5479_22284 {
  color: rgba(255, 255, 255, 1);
  width: 31px;
  height: 15px;
  position: absolute;
  margin-left: -15px;
  top: 6.5px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1;
}
.e5479_22285 {
  transform: rotate(90deg);
  background-color: rgba(255, 255, 255, 1);
  width: 10px;
  height: 8px;
  position: absolute;
  left: 60px;
  top: 9px;
}
.e5479_22286 {
  width: 25.396825790405273px;
  height: 25.396825790405273px;
  position: absolute;
  left: 359.788330078125px;
  top: 16.6572265625px;
}
.e5479_22289 {
  color: rgba(0, 0, 0, 1);
  width: 300px;
  height: 15px;
  position: absolute;
  left: 42.328125px;
  top: 176px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: -1;
}

.checkbox {
  height: 15px;
}

.e5479_22290 {
  width: 14.109347343444824px;
  height: 14.109347343444824px;
  position: absolute;
  left: 21.1640625px;
  top: 172.1337890625px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.e6192_24508 {
  width: 42px;
  height: 39px;
  position: absolute;
  left: 35px;
  top: 99px;
}
