.e5479_22547 {
  overflow: hidden;
}
.e5479_22547 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  width: 400px;
  height: 600px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
}
.e5479_22548 {
  background-color: rgba(
    210.00000268220901,
    226.0000017285347,
    217.0000022649765,
    1
  );
  width: 400px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 60px;
}
.e5479_22549 {
  color: rgba(78.62500101327896, 78.62500101327896, 78.62500101327896, 1);
  width: 117px;
  height: 15px;
  position: absolute;
  left: 24px;
  top: 81px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1;
}
.e5479_22550 {
  color: rgba(16.28245308995247, 113.76597136259079, 78.67189049720764, 1);
  width: 118px;
  height: 15px;
  position: absolute;
  left: 141px;
  top: 81px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1;
}
.e5479_22551 {
  color: rgba(78.62500101327896, 78.62500101327896, 78.62500101327896, 1);
  width: 117px;
  height: 15px;
  position: absolute;
  left: 259px;
  top: 81px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1;
}
.e5479_22552 {
  border: 2px solid
    rgba(16.28245308995247, 113.76597136259079, 78.67189049720764, 1);
}
.e5479_22552 {
  width: 58px;
  height: 0px;
  position: absolute;
  left: 171px;
  top: 106px;
}
.e5479_22553 {
  width: 361px;
  height: 90px;
  position: absolute;
  left: 19px;
  top: 136px;
}
.e5479_22554 {
  background-color: rgba(255, 255, 255, 1);
  width: 360.9999694824219px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.e5479_22554 {
  border: 1px solid
    rgba(163.51875364780426, 172.12500303983688, 167.82188594341278, 1);
}
.e5479_22559 {
  background-color: rgba(
    24.907108694314957,
    130.76597034931183,
    92.65676647424698,
    1
  );
  padding-top: 8px;
  width: 110px;
  height: 24px;
  position: absolute;
  left: 259px;
  top: 167px;
  text-align: center;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  display: inline-block;
}
.e5479_22559 {
  border: 1px solid
    rgba(24.907108694314957, 130.76597034931183, 92.65676647424698, 1);
}
.e5479_22560 {
  color: rgba(255, 255, 255, 1);
  width: 54px;
  height: 15px;
  position: inline;
  left: 28.5px;
  top: 6.5px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1;
}
.e5479_22568 {
  color: rgba(78.62500101327896, 78.62500101327896, 78.62500101327896, 1);
  width: 90px;
  height: 12px;
  position: absolute;
  left: 116px;
  top: 185px;
  font-family: Inter;
  text-align: left;
  font-size: 10px;
  letter-spacing: -1;
}
.e5479_22571 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 20px;
  top: 151px;
}
.e5479_22572 {
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 1);
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e5479_22573 {
  width: 45.000003814697266px;
  height: 45.000003814697266px;
  position: absolute;
  left: 7.5px;
  top: 7.5px;
  background-repeat: no-repeat;
  background-size: cover;
}
.e5479_22574 {
  color: rgba(0, 0, 0, 1);
  width: 120px;
  height: 17px;
  position: absolute;
  left: 90px;
  top: 162px;
  font-family: Inter;
  text-align: left;
  font-size: 14px;
  letter-spacing: -1;
}

.e5479_22589 {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 101px;
  top: 189px;
}
.e5479_22600 {
  width: 400px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
}
