.e6175_25399 {
  width: 358px;
  height: 682px;
  position: absolute;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.e6175_25284 {
  background-color: rgba(255, 255, 255, 1);
  width: 358px;
  height: 682px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.e6175_25399 {
  border: 1px solid
    rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
}
.e6175_25285 {
  background-color: rgba(
    24.907108694314957,
    130.76597034931183,
    92.65676647424698,
    1
  );
  width: 301px;
  height: 36px;
  position: absolute;
  left: 28px;
  top: 593px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  cursor: pointer;
}
.e6175_25285 {
  border: 1px solid
    rgba(24.907108694314957, 130.76597034931183, 92.65676647424698, 1);
}
.e6175_25286 {
  color: rgba(255, 255, 255, 1);
  width: 77px;
  height: 15px;
  position: absolute;
  left: 112px;
  top: 10.5px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1;
}
.e6175_25287 {
  background-color: rgba(
    24.907108694314957,
    130.76597034931183,
    92.65676647424698,
    1
  );
  width: 28px;
  height: 28px;
  position: absolute;
  left: 28px;
  top: 73px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.e6175_25287 {
  border: 1px solid
    rgba(24.907108694314957, 130.76597034931183, 92.65676647424698, 1);
}
.e6175_25288 {
  color: rgba(255, 255, 255, 1);
  width: 6px;
  height: 15px;
  position: absolute;
  left: 11px;
  top: 6.5px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1;
}
.e6175_25289 {
  background-color: rgba(
    24.907108694314957,
    130.76597034931183,
    92.65676647424698,
    1
  );
  width: 28px;
  height: 28px;
  position: absolute;
  left: 28px;
  top: 228px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.e6175_25289 {
  border: 1px solid
    rgba(24.907108694314957, 130.76597034931183, 92.65676647424698, 1);
}
.e6175_25290 {
  color: rgba(255, 255, 255, 1);
  width: 8px;
  height: 15px;
  position: absolute;
  left: 10px;
  top: 6.5px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1;
}
.e6175_25291 {
  background-color: rgba(
    24.907108694314957,
    130.76597034931183,
    92.65676647424698,
    1
  );
  width: 28px;
  height: 28px;
  position: absolute;
  left: 28px;
  top: 417px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.e6175_25291 {
  border: 1px solid
    rgba(24.907108694314957, 130.76597034931183, 92.65676647424698, 1);
}
.e6175_25292 {
  color: rgba(255, 255, 255, 1);
  width: 8px;
  height: 15px;
  position: absolute;
  left: 10px;
  top: 6.5px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1;
}
.e6175_25293 {
  color: rgba(0, 0, 0, 1);
  width: 107px;
  height: 28px;
  position: absolute;
  left: 126px;
  top: 18px;
  font-family: Karla;
  text-align: center;
  font-size: 18px;
  letter-spacing: -1;
  line-height: px;
}
.e6175_25294 {
  width: 12.709702491760254px;
  height: 13.133136749267578px;
  position: absolute;
  left: 320.64501953125px;
  top: 24.8671875px;
}
.e6175_25297 {
  color: rgba(0, 0, 0, 1);
  width: 265px;
  height: 30px;
  position: absolute;
  left: 69px;
  top: 73px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: -1;
}
.e6175_25298 {
  color: rgba(0, 0, 0, 1);
  width: 265px;
  height: 45px;
  position: absolute;
  left: 69px;
  top: 228px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: -1;
}
.e6175_25299 {
  color: rgba(0, 0, 0, 1);
  width: 265px;
  height: 45px;
  position: absolute;
  left: 69px;
  top: 417px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: -1;
}
.e6175_25300 {
  width: 14.119157791137695px;
  height: 15.455442428588867px;
  position: absolute;
  left: 127px;
  top: 72px;
}
.e6175_25303 {
  transform: rotate(90.00000250447746deg);
  width: 106px;
  height: 0px;
  position: absolute;
  left: -11px;
  top: 165px;
}
.e6175_25303 {
  border: 1px solid
    rgba(210.00000268220901, 226.0000017285347, 217.0000022649765, 1);
}
.e6175_25304 {
  transform: rotate(90.00000250447746deg);
  width: 143px;
  height: 0px;
  position: absolute;
  left: -29px;
  top: 337px;
}
.e6175_25304 {
  border: 1px solid
    rgba(210.00000268220901, 226.0000017285347, 217.0000022649765, 1);
}
.e6175_25305 {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  width: 182px;
  height: 80px;
  position: absolute;
  left: 70px;
  top: 116px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-image: url(./images/screen_shot_2022_03_25_at_2_18_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e6175_25306 {
  border-radius: 500px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 196px;
  top: 136px;
}
.e6175_25307 {
  width: 13px;
  height: 23px;
  position: absolute;
  left: 211px;
  top: 153px;
  font-family: Font Awesome 5 Free;
  text-align: left;
  font-size: 20px;
  letter-spacing: -1;
}
.e6175_25308 {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  width: 177px;
  height: 100px;
  position: absolute;
  left: 69px;
  top: 287px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-image: url(./images/screen_shot_2022_03_25_at_2_26_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e6175_25309 {
  color: rgba(0, 0, 0, 1);
  width: 200px;
  height: 15px;
  position: absolute;
  left: 49.1640625px;
  top: 564px;
  font-family: Inter;
  text-align: left;
  font-size: 12px;
  letter-spacing: -1;
}

.e6175_25310 {
  width: 14.109347343444824px;
  height: 14.109347343444824px;
  position: absolute;
  left: 28px;
  top: 561.703125px;
}
.e6175_25311 {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  width: 181px;
  height: 58px;
  position: absolute;
  left: 69px;
  top: 476px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-image: url(./images/screen_shot_2022_03_25_at_2_31_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e6175_25312 {
  width: 13px;
  height: 23px;
  position: absolute;
  left: 157px;
  top: 525px;
  font-family: Font Awesome 5 Free;
  text-align: left;
  font-size: 20px;
  letter-spacing: -1;
}
.e6175_25313 {
  color: rgba(24.907108694314957, 130.76597034931183, 92.65676647424698, 1);
  width: 313px;
  height: 15px;
  position: absolute;
  left: 22px;
  top: 643px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: -1;
  text-decoration: underline;
  cursor: pointer;
}
